<section class="preview">
  <div class="preview__wrapper">
    <button id="button-reset" class="button-reset">
      <i class="far fa-trash-alt" aria-hidden="true"></i> reset
    </button>
    <div class="card">
      <div class="card__id">
        <h3 class="card__id_name">Nombre Apellido</h3>
        <p class="card__id_role">Front-end developer</p>
      </div>
      <div class="card__photo"></div>
      <div class="card__contacts">
        <ul>
          <a href="">
            <li class="contact__icon">
              <i class="fas fa-mobile-alt" aria-hidden="true"></i></li
          ></a>
          <a href="">
            <li class="contact__icon">
              <i class="far fa-envelope" aria-hidden="true"></i>
            </li>
          </a>
          <a href="">
            <li class="contact__icon">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i></li
          ></a>
          <a href="">
            <li class="contact__icon">
              <i class="fab fa-github-alt" aria-hidden="true"></i>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>
